body{
    font-family: 'Arial', sans-serif;
    background-color: skyblue;
    color: #333;
    text-align: center;
    padding: 20px;
}
h1{
    color: darkblue;
}
button{
    background-color: darkblue;
    color: light grey;
    border: 1px solid #000;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
}
button:hover{
    background-color: grey;
    color: darkblue;
}
#spell-area{
    margin: 20px auto;
    padding: 15px;
    border: 2px solid darkblue;
    border-radius: 10px;
    background-color: sky rgb(30, 30, 74);
    width: 60%;
    min-height: 250px;
}
#ingredients-list{
    list-style-type: square;
    text-align: left;
    display: inline-block;
    margin-top: 20px;
}